.about {
  font-family: "Poppins", sans-serif;
  margin-top: 75px;
}

.about .content-about h2 {
  font-size: 17pt;
  font-weight: 900;
  margin-left: auto;
  margin-right: auto;
}

.about .content-about h5 {
  font-size: 11pt;
  font-weight: 200;
}

.about .content-about a {
    font-size: 10pt;
    margin-left: auto;
    margin-right: auto;
}

.about h4 {
  font-size: 11pt;
  margin-top: 50px;
  color: #343a40;
}

.about .row .teams-about {
  margin-top: 15px;
  margin-right: 30px;
  padding: 10px;
  width: 200px;
  height: 200px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #dcdde1;
  box-shadow: 0px 2px 10px grey;
  color: #ced6e0;
}

.about .row .teams-about h3 {
  text-transform: uppercase;
  font-size: 14pt;
  font-weight: 600;
}

.about .row #a-about {
  background-image: linear-gradient(grey, grey),
    url(/src/assets/images/brandon-erlinger-ford-xmrL-yps7gI-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 220%;
  background-position: 10% 50%;
  background-blend-mode: multiply;
}

.about .row #b-about {
  background-image: linear-gradient(grey, grey),
    url(/src/assets/images/creaslim-F7eJxHoR1lg-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 220%;
  background-position: 50% 50%;
  background-blend-mode: multiply;
}

.about .row #c-about {
  background-image: linear-gradient(grey, grey),
    url(/src/assets/images/brandon-erlinger-ford-2wSe9hhfpnM-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 220%;
  background-position: 90% 50%;
  background-blend-mode: multiply;
}

.about .row #d-about {
  background-image: linear-gradient(grey, grey),
    url(/src/assets/images/tarun-anand-giri-wXtszuirc64-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 220%;
  background-position: 90% 50%;
  background-blend-mode: multiply;
}

.about .row .teams-about:hover {
  text-decoration: none;
  transition: 0.3s;
  color: #ffffff;
}
