.userDetail {
  font-family: "Poppins", sans-serif;
  margin-top: 75px;
}

.userDetail h3 {
  font-size: 8pt;
  font-weight: 600;
  color: #343a40;
  white-space: nowrap;
}

.userDetail h4 {
  font-size: 8pt;
  color: #343a40;
}

.userDetail .row .table thead {
  font-size: 11pt;
  text-transform: uppercase;
  /* background-color: #00834e; */
  color: #ffffff;
  background-image: linear-gradient(grey, grey),
    url(/src/assets/images/pexels-photo-669610.jpeg);
  background-repeat: no-repeat;
  background-size: 220%;
  background-position: 50% 50%;
  background-blend-mode: multiply;
}

.userDetail .row .table tbody th {
  font-size: 11pt;
  text-transform: none;
  background-color: white;
  color: #343a40;
}
