.nav {
  font-family: "Poppins", sans-serif;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color: #111; */
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.3s;
  background-image: linear-gradient(grey, grey),
    url(/src/assets/images/creaslim-F7eJxHoR1lg-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 250%;
  background-position: 50% 50%;
  background-blend-mode: multiply;
}

.openbtn-nav {
  margin-top: 10px;
  margin-left: 10px;
}

.side-nav .closebtn-nav {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #dcdde1;
}

.side-nav .closebtn-nav:hover {
  color: #c6c6ca;
}

.side-nav img {
  width: 50px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.side-nav h2 {
  font-size: 12pt;
  color: #818181;
}

.side-nav .btn-outline-danger {
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  border: 0px;
  background-color: #ff7979;
  color: #dcdde1;
}

.side-nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #dcdde1;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  color: #f1f1f1;
}
